/* fonts */
@font-face {
  font-family: "Montserrat";
  src: local("MontserratBlack"), local("Montserrat-Black"),
    url("../fonts/Montserrat-Black.woff") format(".woff"),
    url("../fonts/Montserrat-Black.woff2") format(".woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("RobotoRegular"), local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff") format(".woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --h1: 48px;
  --h2: 35px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  min-width: 320px;
  overflow: auto;
  font-family: "Montserrat", Arial, sans-serif;
}

/* hero */
.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}
.hero__message {
  position: absolute;
  padding-left: 20px;
  padding-top: 10px;
}

.hero__message p {
  font-size: 12px;
  color: #fff;
  line-height: 14.06px;
  font-weight: 400;
  font-family: Roboto;
}

.hero__container {
  position: relative;
}

.hero__offer {
  padding-top: 60px;
  position: absolute;
  overflow: hidden;
  max-height: 100%;
  bottom: -45px;
  left: -10px;
}

.hero__offer-img {
  margin-right: -20px;
}

.hero__offer-title {
  font-size: var(--h1);
  line-height: 58.51px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
}

.hero__offer-block {
  margin-bottom: 25px;
}

.hero__offer-price {
  padding: 12px 0;
  width: 53%;
  text-align: center;
  background-color: #fff;
}

.hero__offer-price p {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  margin-bottom: 0;
}

.hero__offer-link {
  text-align: center;
  width: 40%;
  background-color: #000;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.hero__offer-params p {
  font-size: 18px;
  line-height: 21.94px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  margin-bottom: 0;
}

.hero__category {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 25px;
  background-color: rgba(70, 70, 70, 0.7);
}

.hero__category-title {
  font: 900 35px/42.67px "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.hero__list {
  margin-bottom: 15px;
}

.hero__item {
  text-align: right;
}

.hero__item:not(:last-child) {
  margin-bottom: 2px;
}

.hero__item_none {
  display: none;
}

.hero__btn {
  border: none;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.38px;
}

/* скидки недели */
.hero__category-discount {
  position: relative;
  padding-left: 20px;
  background: rgba(49, 49, 49, 0.7);
}

.hero__category-discount > * {
  color: #fff;
}

.hero__category-discount h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.26px;
}

.hero__category-discount b {
  font-size: 13px;
  margin-bottom: 15px;
}

.hero__category-discount a {
  font-weight: 400;
  font-size: 13px;
}

.hero__category-discount img {
  position: absolute;
  bottom: 0;
}

.hero__category-top {
  position: relative;
  padding-top: 25px;
  padding-left: 15px;
  background-color: #fff;
}

.hero__category-top h3 {
  font-size: 30px;
  line-height: 36.57px;
  font-weight: 900;
}

.hero__category-ski2 {
  position: absolute;
  top: 0;
}

.hero__category-wrap {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.hero__category-top a {
  position: absolute;
  width: 80px;
  padding: 5px 0;
  text-align: center;
  bottom: 25px;
  right: 15px;
  display: flex;
  justify-content: center;
  background-color: #121416;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.hero__category-bot {
  padding-right: 0;
  padding-bottom: 10px;
  background: radial-gradient(
    135.25% 69.48% at 50% 50%,
    #333333 0%,
    rgba(74, 74, 74, 0) 100%
  );
}

.hero__category-bot h3 {
  font-size: 30px;
  line-height: 36.57px;
  color: #fff;
  font-weight: 900;
}

.hero__category-bot img {
  width: 100%;
  margin-bottom: 15px;
}

.hero__category-bot a {
  text-align: center;
  padding: 4px 0;
  width: 38%;
  color: #000;
  background-color: #fff;
  font-weight: 600;
  font-size: 13px;
}

/* подвал */
.footer {
  padding-top: 45px;
}

.footer a {
  font-size: 14px;
  color: #9b9b9b;
}

.footer__logo {
  padding-top: 7px;
  margin-bottom: 10px;
}

.footer__desc p {
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
  font-family: "Roboto";
}

.footer__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__item {
  line-height: 1;
}

.footer__item:not(:last-child) {
  margin-bottom: 3px;
}

.footer__partners {
  display: inherit;
  margin-top: 100px;
}

.footer__policy {
  display: inherit;
  margin-top: 35px;
}

.footer__contacts li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social p {
  margin-right: 10px;
  color: #9b9b9b;
  font-size: 14px;
}

.footer__social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__inst {
  margin-right: 10px;
  background-image: url("../img/footer_inst.jpg");
}

.footer__you {
  background-image: url("../img/footer_you.jpg");
}

/* адаптив */
@media (min-width: 320px) {
  /* hero */
  .hero {
    padding-bottom: 0;
    background-image: none;
  }
  .hero__container {
    max-width: 100%;
  }
  .hero__message {
    display: none;
  }
  .hero__offer {
    display: none;
  }
  .hero__category-title {
    text-align: center;
    font-size: var(--h2);
    margin-bottom: 10px;
    line-height: 35.67px;
  }
  .hero__category-discount img {
    display: none;
  }
  .hero__category_bg {
    display: none;
  }
  .hero__list {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__item {
    width: 90%;
    text-align: center;
    padding: 7px 0;
    background-color: #c4c4c4;
  }
  .hero__link {
    color: #000;
    font-style: italic;
    font-weight: 400;
    line-height: 18.29px;
  }
  .hero__btn-wrap {
    display: flex;
    justify-content: center;
  }
  .hero__btn {
    width: 70%;
  }
  .hero__category-top,
  .hero__category-bot {
    display: none;
  }
  .hero__category-discount {
    display: none;
  }
  /* скидки на мобильной версии */
  .hero__m {
    display: flex;
    position: relative;
    background-color: #6f6f6f;
  }

  .hero__m-img1 {
    position: absolute;
    left: -26px;
    width: 10%;
    transform: rotate(12deg);
  }

  .hero__m-el {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .hero__m-el > * {
    color: #fff;
  }

  .hero__m-title {
    text-align: right;
    text-transform: uppercase;
    width: 70%;
    font-weight: 900;
    margin-bottom: 0;
  }

  .hero__m-img2 {
    position: absolute;
    bottom: 0;
    width: 40%;
  }

  .hero__m-wrap {
    padding: 5px;
    background-color: #fff;
  }

  .hero__m-subtitle {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 1;
  }

  .hero__m-text {
    font-weight: 700;
  }

  .hero__m-item {
    padding: 2px 0 2px 7px;
  }

  .hero__m-item:not(:last-child) {
    border-bottom: 5px solid #fff;
  }

  .hero__m-link {
    color: #fff;
    font-style: italic;
    font-weight: 100;
  }
  /* новинки */
  .new-m,
  .popular-m {
    display: block;
    padding: 40px 0;
  }

  .new-m__header,
  .popular-m__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .new-m__all,
  .popular-m__all {
    padding: 5px 0;
    text-align: center;
    width: 100px;
    color: #000;
    background-color: #e6e6e6;
    border-radius: 44px;
  }

  .new-m__img,
  .popular-m__img {
    display: flex;
    justify-content: center;
  }

  .new-m__name,
  .popular-m__name {
    text-align: center;
  }
  .new-m__price-wrap,
  .popular-m__price-wrap {
    display: flex;
    justify-content: center;
  }
  .new-m__price-old,
  .popular-m__price-old {
    font-weight: 600;
    margin-right: 10px;
    position: relative;
  }

  .new-m__price-old:after,
  .popular-m__price-old:after {
    position: absolute;
    top: 45%;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background-color: #ff0000;
    transform: rotate(10.92deg);
  }
  .new-m__price-new,
  .popular-m__price-new {
    font-weight: 600;
  }

  .new-m__btn,
  .popular-m__btn {
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    background-color: #000;
    margin-right: 3px;
  }

  .new-m__basket {
    border: none;
    display: flex;
    width: 10%;
    padding: 5px;
    background-color: #82be31;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
    background-image: url("../img/basket.png");
  }
  .footer {
    background-color: #fff;
  }
  .footer__img {
    display: none;
  }
  .footer-m__img {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  .footer__desc p {
    font-weight: 700;
    text-align: center;
    color: #000;
  }
  .footer__nav {
    display: none;
  }
  /* аккордеон в подвале */
  .footer-m__accordion {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .footer-m__accordion .accordion-item {
    border: none;
  }
  .footer-m__accordion .accordion-button {
    font-weight: 700;
    font-size: 22px;
  }
  /* меню в подвале */
  .footer-m__menu {
    padding: 20px 10px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
  }

  .footer-m__inner {
    display: flex;
    align-items: center;
  }

  .footer-m__inner a {
    text-align: center;
    color: #fff;
  }
  .footer-m__symbol span {
    width: 1px;
    height: 100%;
    display: block;
    background-color: #fff;
  }
}
@media (min-width: 576px) {
  /* hero */
  .hero {
    padding-bottom: 45px;
    background-image: url("../img/hero__bg.jpg");
  }
  .hero__container {
    max-width: 540px;
  }

  .hero__list {
    display: block;
    padding-top: 55px;
  }
  .hero__item {
    width: auto;
    text-align: right;
    padding: 0;
    background-color: transparent;
  }
  .hero__link {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
  }

  .hero__btn-wrap {
    justify-content: flex-end;
  }

  .hero__btn {
    width: 45%;
    font-size: 13px;
  }

  .hero__category-title {
    text-align: left;
  }

  .hero__category_bg {
    position: absolute;
    display: block;
    left: 0;
    top: 26%;
    width: 32%;
  }
  .hero__category-discount {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .hero__category-discount img {
    width: 90%;
    display: block;
  }
  .hero__category-top,
  .hero__category-bot {
    display: block;
  }

  .hero__m {
    display: none;
  }
  /* новинки */
  .new-m {
    display: none;
  }
  .popular-m {
    display: none;
  }
  .footer {
    background-color: #24292d;
  }

  .footer__img {
    display: block;
  }
  .footer-m__img {
    display: none;
  }
  .footer__desc p {
    text-align: left;
    color: #fff;
  }
  .footer__nav {
    display: flex;
  }
  /* меню в подвале */
  .footer-m__menu {
    display: none;
  }
  .footer-m__accordion {
    display: none;
  }
}
@media (min-width: 768px) {
  :root {
    --h1: 32px;
    --h2: 28px;
  }
  .hero__container {
    max-width: 720px;
  }

  .hero__offer {
    display: flex;
    padding-top: 0;
    flex-direction: column;
  }

  .hero__offer-img {
    margin-right: 0;
    order: 2;
  }

  .hero__offer-img img {
    width: 50%;
  }

  .hero__offer-info {
    margin-bottom: 16px;
  }

  .hero__offer-price {
    padding: 10px 0;
  }

  .hero__offer-price p {
    font-size: 17px;
  }

  .hero__offer-link {
    padding: 15px 0;
    font-size: 13px;
  }

  .hero__category_bg {
    width: 45%;
    top: 8%;
  }

  .hero__category-bot {
    padding-top: 20px;
  }
  /* подвал */
  .footer__partners {
    margin-top: 75px;
  }

  .footer__policy {
    margin-top: 35px;
  }
  .footer__social {
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  :root {
    --h1: 42px;
    --h2: 28px;
  }

  .hero__container {
    max-width: 960px;
  }
  .hero__category_bg {
    width: 37%;
    top: 22%;
  }

  .hero__link {
    font-size: 13px;
  }

  .hero__btn {
    width: 40%;
    padding: 5px 0;
    font-size: 14px;
  }

  .hero__offer-img img {
    width: 70%;
  }

  .hero__offer-info {
    margin-bottom: 0;
  }

  .hero__offer-link {
    padding: 20px 0;
  }

  .hero__offer-price p {
    font-size: 24px;
  }

  .hero__category-discount h3 {
    font-size: 21px;
  }

  .hero__category-bot h3 {
    font-size: 25px;
  }
  .hero__offer {
    flex-direction: row;
  }

  .hero__offer-info {
    order: 2;
  }

  /* подвал */
  .footer {
    padding-top: 30px;
  }

  .footer__partners {
    margin-top: 75px;
  }

  .footer__policy {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  /* hero */
  .hero__container {
    max-width: 1170px;
  }
  .hero__category_bg {
    top: 5%;
  }
  .hero__category-discount {
    padding-top: 40px;
  }
  .hero__category-bot {
    padding-top: 30px;
  }
}
